PROMOBILITY_USER=ventas@maos.cl
PROMOBILITY_PASS=
CRM_BASE_URL=https://crmaosbike-production.up.railway.app
CRM_USER=ventas@maos.cl
CRM_PASS=

# Set a 1 si el CRM tiene cert SSL no-perfecto.
CRM_INSECURE_TLS=
